.form {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  max-width: 567px;
  margin: 0 auto;
}

.input {
  width: 377px;
}

.text {
  text-align: start;
  margin: 0;
  padding: 0 0 0 400px;
}

.list {
  max-width: 944px;
  display: flex;
  justify-content: center;
  margin: 100px auto 0 auto;
  flex-direction: row;
  column-gap: 8px;
  row-gap: 60px;
  list-style-type: none;
  flex-wrap: wrap;
}